@import "~vuetify/src/components/VStepper/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

/*Colors*/

/*General*/

@font-face {
  font-family: "Rajdhani Bold";
  src: url("./../fonts/Rajdhani-Bold.ttf");
}

@font-face {
  font-family: "Rajdhani";
  src: url("./../fonts/Rajdhani-Medium.ttf");
}

@font-face {
  font-family: "Rajdhani SemiBold";
  src: url("./../fonts/Rajdhani-SemiBold.ttf");
}

@font-face {
  font-family: "TheLedDisplaySt";
  src: url("./../fonts/TheLedDisplaySt.ttf");
}

.v-application {
  .title {
    line-height: 1.3;
  }
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6,
  .text-p,
  .title,
  strong,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "Rajdhani", sans-serif !important;
    letter-spacing: normal;
    word-break: break-word;
    line-height: 1.5 !important;
    letter-spacing: 0;
  }
  p,
  .text-p {
    font-size: 15px;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif !important;
  }
  .text-small {
    font-size: 11px !important;
  }
  .text-bold {
    font-family: "Rajdhani Bold", sans-serif !important;
  }
  .text-medium {
    font-family: "Rajdhani SemiBold", sans-serif !important;
  }
  .no-lineheight {
    line-height: 0 !important;
  }
  .v-btn {
    font-family: "Rajdhani", sans-serif !important;
    font-size: 16px;
    letter-spacing: 0;
    min-width: 0;
    overflow: hidden;
    &.no-padding {
      min-width: 0 !important;
      padding: 0 !important;
    }
    &:before {
      display: none;
    }
    .nav-menu {
      padding: 0 7px !important;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    .router-link-exact-active {
      .nav-menu {
        opacity: 1;
      }
    }
    .v-ripple__container {
      display: none !important;
    }
    .text-small {
      .v-btn__content {
        font-size: 12px;
      }
    }
    &.text-shadow {
      .v-btn__content {
        text-shadow: 0px 3px 8px var(--v-black-base);
      }
    }
    &.hover-transparent {
      &:before {
        content: " ";
        position: absolute;
        background-color: hsla(0, 0%, 100%, 0.4);
      }
      &:after {
        content: " ";
        position: absolute;
        background-color: hsla(0, 0%, 100%, 0.4);
        transition: all 0.3s;
        height: 0;
        left: 50%;
        top: 50%;
        width: 0;
        z-index: 2;
      }
      &:hover {
        &:after {
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
          z-index: 2;
        }
      }
    }
    &.hover-orange {
      &:before {
        content: " ";
        position: absolute;
        background-color: var(--v-orange-base);
      }
      &:after {
        content: " ";
        position: absolute;
        background-color: var(--v-orange-base);
        transition: all 0.3s;
        height: 0;
        left: 50%;
        top: 50%;
        width: 0;
        z-index: 2;
      }
      &:hover {
        &:after {
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
          z-index: 2;
        }
      }
    }
    .v-btn__content {
      text-shadow: 2px 1px 3px #000;
      z-index: 5;
    }
    &.no-shadow {
      .v-btn__content {
        text-shadow: unset !important;
      }
    }
    .hide {
      display: none !important;
    }
  }
  .btn-default {
    font-size: 1.5rem;
    letter-spacing: unset;
    border-radius: 0;
  }
  .action-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 12px;
  }
  .nav-link {
    color: var(--v-white-base);
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  .v-list {
    .v-list-item {
      font-family: "Rajdhani", sans-serif;
      .v-list-item__title {
        font-family: "Rajdhani", sans-serif;
        &.menu-title {
          text-transform: uppercase;
        }
      }
      .v-list-item__subtitle {
        font-family: "Rajdhani", sans-serif;
      }
    }
  }
  .hover-text:hover {
    color: var(--v-white-base) !important;
    transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
  }
  .v-breadcrumbs {
    background: var(--v-gray-base);
    border-radius: 12px;
    margin-top: 20px;
    padding: 15px 20px;
    li {
      a {
        font-family: "Rajdhani", sans-serif;
        font-size: 14px;
        font-weight: 600;
      }
      &:not(:last-child):after {
        content: ">";
        display: block;
        position: relative;
        padding-left: 10px;
      }
    }
  }
  .v-card {
    &.hover-zoom {
      transform: scale(1);
      transition: 0.3s;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      &:hover {
        transform: scale(1.14);
        transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
      }
    }
    .slick-prev {
      top: 0;
      display: flex;
      background: var(--v-accent-base);
      width: 30%;
      transform: unset !important;
      z-index: 2;
      height: 40px;
      right: 190px;
      left: unset;
    }
    .slick-next {
      top: 0;
      display: flex;
      background: var(--v-bluesea-base);
      width: 30%;
      transform: unset !important;
      z-index: 2;
      height: 40px;
      right: 0;
    }
    .loading-box {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      top: 0;
      right: 0;
    }
    .v-date-picker-header__value button {
      font-family: "Rajdhani", sans-serif;
    }
    .bg--bluelighter {
      background-color: var(--v-bluelighter-base);
    }
    .bg--secondary {
      background-color: var(--v-secondary-base);
    }
    .bg--gray {
      background-color: var(--v-gray-base);
    }
    .bg--accent {
      background-color: var(--v-accent-base);
    }
    .bg--white {
      background-color: var(--v-white-base);
    }
    form {
      .v-input__slot {
        background: var(--v-white-base);
      }
      input,
      textarea {
        font-family: "Rajdhani", sans-serif;
        padding: 0 5px;
      }
      input::placeholder,
      textarea::placeholder {
        font-family: "Rajdhani", sans-serif;
        padding: 0 5px;
        text-transform: capitalize;
      }
      .v-text-field__details {
        display: none;
      }
      .error-message {
        color: red;
        font-family: "Rajdhani", sans-serif;
      }
    }
  }
  .v-btn.brand-name {
    display: block;
    text-align: left;
    height: auto;
    .v-btn__content {
      white-space: normal;
      word-break: break-word;
      width: 100%;
      .v-toolbar__title {
        white-space: normal;
        line-height: 1;
        h1 {
          font-size: 16px !important;
        }
      }
    }
  }
  .no-hover {
    &:hover {
      &:before {
        display: none !important;
        &:active {
          display: none !important;
        }
      }
    }
  }
  .theme--dark.v-btn.no-hover:hover:before {
    opacity: 0 !important;
  }
  section {
    position: relative;
    overflow: hidden;
    .feature-img {
      display: block;
      position: absolute;
      top: 35px;
      right: 0;
      width: 180px;
      height: 100%;
      margin-right: -8px;
      z-index: 1;
    }
    &.bg--bluelighter {
      background-color: var(--v-bluelighter-base);
    }
    &.bg--secondary {
      background-color: var(--v-secondary-base);
    }
    &.bg--gray {
      background-color: var(--v-gray-base);
    }
    &.bg--accent {
      background-color: var(--v-accent-base);
    }
    .sticky {
      position: sticky;
      top: 0;
    }
    .news-main {
      min-height: 1500px;

      .feed-detail {
        .feed-detail-category {
          font-size: 13px;
          font-family: "Rajdhani", sans-serif;
          color: var(--v-primary-base);
          text-transform: capitalize;
          border: 1px solid var(--v-primary-base);
          border-radius: 5px;
          padding: 4px 8px;
          line-height: 1;
        }
        .feed-detail-date {
          display: flex;
          justify-content: space-between;
          width: 100%;
          font-size: 14px;
          font-family: "Rajdhani", sans-serif;
          color: var(--v-primary-base);
          flex-wrap: wrap;
          flex-direction: row;
        }
      }
    }
    .news-sidebar {
      .news-sidebar_inner {
        background-color: var(--v-white-base);
        text-align: center;
        left: unset !important;
      }
      &.is-affixed {
        height: 1500px !important;
        transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        .news-sidebar_inner {
          height: 1000px !important;
          // margin-left: 0px;
          top: 90px !important;
          left: unset !important;
          // right:-10px!important;
          transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -webkit-transition: 0.2s ease-in-out;
        }
      }
      &.is-affixed.bottom-reach {
        height: 1500px !important;
        transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        .news-sidebar_inner {
          height: 1000px !important;
          // margin-left: 0px;
          top: 0 !important;
          padding-bottom: 90px !important;
          left: unset !important;
          // right:-10px!important;
          transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -webkit-transition: 0.2s ease-in-out;
        }
      }
    }
    .location-box {
      .v-btn__content {
        display: block;
      }
    }
  }
  .white--text.router-link-exact-active {
    color: var(--v-orange-base) !important;
    font-weight: 600;
  }
  .primary--text.router-link-exact-active {
    color: var(--v-orange-base) !important;
    font-weight: 600;
  }
  .brand-logo {
    .v-avatar {
      width: 70px !important;
      height: 70px !important;
      min-width: 70px !important;
    }
    .v-list-item__content {
      display: block !important;
      flex: unset;
      white-space: normal;
      word-break: break-word;
      width: 80px;
      .v-list-item__title {
        display: block !important;
        font-size: 16px !important;
        word-wrap: break-word;
        white-space: normal;
      }
    }
  }
  .v-text-field {
    .v-label {
      font-family: "Rajdhani", sans-serif;
      font-style: italic;
      font-size: 14px;
      padding-left: 7px;
      width: 130px;
    }
    &.v-text-field--solo {
      .v-input__control {
        display: block;
        height: 28px;
        padding-left: 7px;
        font-size: 14px;
        min-height: unset;
        font-weight: 600;
        width: 130px;
        .v-input__slot {
          padding: 0;
          input {
            padding: 0;
            line-height: 1.15;
            height: 28px;
            width: 130px;
            font-size: 14px;
            padding-left: 7px;
          }
        }
      }
    }
  }
  .jackpot-area {
    height: 170px;
    background-color: var(--v-dark-base);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-top: 4px solid var(--v-orange-base);
    border-bottom: 4px solid var(--v-orange-base);
    .jackpot-main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 70%;
      justify-content: space-around;
      align-items: center;
      .jackpot-title {
        h3 {
          color: var(--v-white-base);
          font-family: "Rajdhani Bold", sans-serif !important;
          font-weight: 600;
          font-size: 2rem;
          line-height: 1 !important;
          border-right: 3px solid var(--v-orange-base);
          padding-right: 20px;
          span {
            font-size: 2.5rem;
          }
        }
      }
      .jackpot-currency {
        h3 {
          font-family: "TheLedDisplaySt", sans-serif !important;
          font-size: 2.25rem;
          color: var(--v-orange-base);
          font-weight: 600;
        }
      }
      .jackpot-number {
        h3 {
          font-family: "TheLedDisplaySt", sans-serif !important;
          font-size: 2.25rem;
          color: var(--v-orange-base);
          font-weight: 600;
        }
      }
    }
    .lamp-area {
      display: flex;
      padding: 0 40px;
      justify-content: center;
      .circle {
        width: 12px;
        height: 12px;
        margin: 0 15px;
        border-radius: 50%;
        -webkit-animation: blink 0.2s ease-in-out infinite alternate;
        animation: blink 0.2s ease-in-out infinite alternate;
        background-color: var(--v-orange-base);
      }
      .circle2 {
        width: 12px;
        height: 12px;
        margin: 0 15px;
        border-radius: 50%;
        -webkit-animation: blink2 0.2s ease-in-out infinite alternate;
        animation: blink2 0.2s ease-in-out infinite alternate;
        background-color: var(--v-white-base);
      }
      @-webkit-keyframes blink {
        0% {
          background-color: var(--v-orange-base);
        }
        100% {
          background-color: var(--v-white-base);
        }
      }
      @keyframes blink {
        0% {
          opacity: 1;
          background-color: var(--v-orange-base);
        }
        100% {
          background-color: var(--v-white-base);
        }
      }
      @-webkit-keyframes blink2 {
        0% {
          background-color: var(--v-white-base);
        }
        100% {
          background-color: var(--v-orange-base);
        }
      }
      @keyframes blink2 {
        0% {
          background-color: var(--v-white-base);
        }
        100% {
          background-color: var(--v-orange-base);
        }
      }
    }
  }
  .v-overlay {
    opacity: 0;
  }
  .on-hover {
    .v-overlay {
      opacity: 1;
    }
  }
  .v-image__image {
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }
  .hover-zoom {
    .v-image__image {
      transform: scale(1.5);
      transition: 0.3s ease-in-out;
    }
  }
  .v-carousel {
    .v-carousel__controls__item.v-btn.v-btn--icon {
      background-color: #ebece9;
      height: 8px;
      width: 40px;
      border-radius: 5px;
    }

    .v-carousel__controls__item.v-btn.v-btn--icon.v-btn--active {
      background-color: #1f1f1f;
    }

    .v-carousel__controls__item.v-btn.v-btn--icon:hover {
      background-color: black;
    }

    .v-carousel__controls__item {
      .v-btn__content .v-icon {
        display: none;
      }
    }

    .fade-transition-enter-active {
      position: absolute;
      top: 0;
      width: 100%;
    }
    .skeleton-box {
      display: inline-block;
      height: 1em;
      position: relative;
      overflow: hidden;
      background-color: #dddbdd;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
          90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.2) 20%,
          rgba(#fff, 0.5) 60%,
          rgba(#fff, 0)
        );
        animation: shimmer 2s infinite;
        content: "";
      }

      @keyframes shimmer {
        100% {
          transform: translateX(100%);
        }
      }
    }
    .v-image__image {
      background-size: contain !important;
    }
  }
  .slick-slider {
    position: relative;
    .slick-list {
      overflow: hidden;
      .slick-track {
        display: flex;
      }
    }
    .slick-prev {
      display: block;
      position: absolute;
      top: 50%;
      left: -60px;
      z-index: 2;
      transform: translateY(-50%);
    }

    .slick-next {
      display: block;
      position: absolute;
      right: -60px;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .v-item-group {
    .v-icon {
      font-size: 45px !important;
      color: var(--v-white-base);
      &.v-icon--disabled {
        opacity: 0.2;
      }
    }
  }
  .quicklinks {
    width: calc(100% / 5);
  }
  .scroll-x {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    &::-webkit-scrollbar {
      height: 6px !important;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a1a1a1;
      border-radius: 0px;
      border: 0px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #000000;
    }
  }
  .v-skeleton-loader {
    .v-skeleton-loader__image {
      height: 100%;
    }
  }
  .v-tabs {
    overflow: hidden;
    position: relative;
    .v-tabs-slider {
      display: none;
    }
    .v-tab {
      overflow: hidden;
      &.hover-white {
        .v-img {
          z-index: 8;
          position: relative;
        }
        &:before {
          content: " ";
          position: absolute;
          background-color: var(--v-white-base);
          opacity: 0.4;
        }
        &:after {
          content: " ";
          position: absolute;
          background-color: var(--v-white-base);
          transition: all 0.3s;
          height: 0;
          left: 50%;
          top: 50%;
          width: 0;
          z-index: 2;
          opacity: 0.4;
        }
        &:hover {
          &:after {
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 2;
            opacity: 0.4;
          }
        }
      }
      &.v-tab--active {
        background-color: var(--v-white-base);
      }
    }
    .v-overlay {
      opacity: 0;
    }
    .on-hover {
      .v-overlay {
        opacity: 1;
      }
    }
    .v-card {
      .card-ribbon-hot {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
        background: var(--v-red-base);
        width: 50px;
        height: 20px;
        align-items: center;
        justify-content: center;
        color: var(--v-white-base);
        text-transform: uppercase;
        font-size: 10px;
        border-radius: 0 10px 10px 0;
        box-shadow: 1px 2px 3px 1px #000;
      }
      .card-ribbon-new {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 7;
        background: var(--v-green-base);
        width: 50px;
        height: 20px;
        align-items: center;
        justify-content: center;
        color: var(--v-white-base);
        text-transform: uppercase;
        font-size: 10px;
        border-radius: 0 10px 10px 0;
        box-shadow: 1px 2px 3px 1px #000;
      }
    }
  }
  .theme--light.v-tabs {
    .v-tab {
      &:hover {
        &::before {
          opacity: 0;
        }
      }
    }
  }
  .table-simple {
    width: 100%;
    thead {
      background: var(--v-gray-base);
    }
    td {
      padding: 10px;
    }
    tbody {
      td {
        border-bottom: 1px solid var(--v-gray-base);
      }
    }
    th {
      padding: 10px;
    }
  }

  .tab-simple {
    p {
      padding: 0 10px;
      border-bottom: 3px solid transparent;
    }
    .v-tab--active {
      p {
        color: var(--v-orange-base) !important;
        border-bottom: 3px solid var(--v-orange-base);
      }
    }
  }

  footer {
    .v-btn {
      .v-btn__content {
        text-transform: none;
        font-weight: 600;
        font-family: "Rajdhani", sans-serif;
        position: relative;
        &:after {
          content: " ";
          display: block;
          position: absolute;
          right: -16px;
          top: 0;
          width: 1px;
          height: 100%;
          background: var(--v-orange-base);
        }
        &:hover {
          color: var(--v-white-base);
          font-family: "Rajdhani Bold", sans-serif;
        }
      }
    }

    .shadow-white {
      .v-image__image {
        filter: drop-shadow(1px 0 0 white);
        transition: all 0.1s ease-in-out;
      }
    }

    .grayscale {
      .v-image__image {
        filter: grayscale(1) brightness(10);
        transition: all 0.1s ease-in-out;
      }
      &:hover {
        opacity: 0.4;
        transition: all 0.1s ease-in-out;
      }
    }

    .footer-description {
      overflow: hidden;
      &.show {
        opacity: 1;
        max-height: 100%;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
      }
      &.hide {
        opacity: 0;
        max-height: 0;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
      }
    }
  }
  .v-input {
    .v-input__append-inner {
      display: block;
      position: absolute;
      right: 4px;
      .v-icon {
        &:before {
          font-size: 18px;
          opacity: 0.5;
        }
      }
    }
    .v-text-field__details {
      position: relative;
      overflow: visible;
      .v-messages {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
        font-size: 11px;
      }
    }
  }
  .v-navigation-drawer--is-mobile {
    .v-input {
      &.error--text {
        .v-input__control {
          height: auto;
          .v-text-field__details {
            .v-messages {
              display: block;
              position: relative;
              bottom: unset;
              left: unset;
              width: auto;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  &.is-top {
    .v-menu__content--fixed {
      top: 0 !important;
    }
  }
  .list-description {
    list-style-type: none;
    font-size: 11px;
    padding-left: 12px;
    margin-bottom: 8px;
    font-family: "Rajdhani SemiBold", sans-serif;
  }
  .form-single {
    background: var(--v-white-base);
    padding: 15px;
    border-radius: 10px;
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    .form-group-single {
      background: var(--v-gray-base);
      margin-bottom: 10px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      p {
        margin: 0;
        font-size: 12px;
        font-family: "Rajdhani Bold", sans-serif;
        margin: 6px;
        font-weight: 600;
        margin-left: 13px;
      }
      .phone-box {
        display: flex;
        flex-direction: row;
        position: relative;
        .v-input {
          &.select-code {
            max-width: 100px !important;
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            z-index: 2;
          }
          &.select-phone {
            input {
              margin-left: 100px !important;
            }
          }
        }
      }
      .v-input {
        margin-bottom: 8px;
        &.form-group--error {
          margin-bottom: 0;
          .v-input__control {
            height: auto !important;
            .v-input__slot {
              margin-bottom: 0;
            }
          }
        }
        .v-input__control {
          padding: 0;
          background: var(--v-white-base) !important;
          .v-input__slot {
            .v-select__slot {
              .v-select__selection {
                font-size: 14px;
                margin-left: 13px;
              }
              .v-select__selections {
                img {
                  height: 20px;
                  padding-left: 12px;
                  padding-right: 12px;
                }
              }
            }
            border-radius: 0;
            background: var(--v-gray-base) !important;
            input {
              margin-left: 7px;
              &::placeholder {
                font-style: italic;
              }
              &::-webkit-placeholder {
                font-style: italic;
              }
              &::-ms-input-placeholder {
                font-style: italic;
              }
            }
          }
          .v-text-field__details {
            position: relative;
            overflow: visible;
            margin-bottom: 0;
            margin-top: 8px;
            .v-messages {
              display: block;
              position: absolute;
              width: 300px;
              .v-messages__message {
                font-size: 14px;
                font-family: "Rajdhani", sans-serif !important;
              }
            }
          }
        }
      }
    }
  }
  .v-select-list {
    img {
      width: 20px;
    }
  }
}

.v-dialog {
  .v-list-item {
    padding: 0;
    font-family: "Rajdhani", sans-serif;
    .v-list-item__title {
      font-family: "Rajdhani", sans-serif;
    }
    .v-list-item__subtitle {
      font-family: "Rajdhani", sans-serif;
    }
  }
}

.swal2-container {
  .swal2-title {
    font-family: "Rajdhani", sans-serif;
  }
  .swal2-html-container {
    font-family: "Rajdhani", sans-serif;
  }
  .swal2-confirm {
    font-family: "Rajdhani", sans-serif;
    background-color: var(--v-orange-base) !important;
    &:focus {
      box-shadow: 0 0 0 3px rgb(255 145 0 / 58%) !important;
    }
  }
}
